.login-head {
    height: 100px;
}
/* 登录页面 */
.login-middle {
    height: 487px;
    background-color: #7e00ff;
}
.login {
    height: 487px;
    margin-left: 100px;
    background: url(../images/loginbg.png) no-repeat;
}
.loginform {
    position: relative;
    top: 50%;
    margin-top: -171px;
    float: right;
    width: 350px;
    background: #fff;
    margin-right: 200px;
}
.nav-tab ul li{
    width: 50%;
    margin-top: 10px;
    margin-bottom: 16px;
}
.nav-tab ul li a {
    font-size: 20px;
    text-align: center;
    line-height: 2;
    padding-left: 45px;
}
.tab-content {
    padding: 18px;
    border: 1px solid #ddd;
}
.form {
    font-size: 12px;
    line-height: 18px;
}
.input-prepend {
    width: 100%;
    margin-bottom: 16px;
    word-spacing: normal;
    font-size: 0;
}
.input-prepend span {
    width: 25px;
    height: 22px;
    background-color: #ccc;
    margin-right: -1px;
    vertical-align: top;
    display: inline-block;
    height: 25px;
    line-height: 18px;
    padding: 4px 5px;
    border: 1px solid #ccc;
}
.input-prepend input {
    padding: 6px 8px;
    line-height: 22px;
    width: 258px;
    border: 1px solid #ccc;
}
.prependtop {
    background-image: url(../images/icons.png);
    background-position: -10px -201px;
}
.prependlast {
    background-image: url(../images/icons.png);
    background-position: -72px -201px;
}
.setting input{
    margin-left: 20px;
    vertical-align: middle;
}
.setting span{
    margin-left: 140px;
}
.buttom {
    height: 40px;
    background-color: brown;
    line-height: 40px;
    text-align: center;
    margin-top: 20px;
}
.buttom a{
    font-size: 18px;
    color: #fff;
}
.registration {
    text-align: center;
    margin-top: 30px;
}
.registration a {
    font-size: 18px;
    color: #1474af;
}